DB_HOST=localhost
DB_PORT=5432
DB_NAME=italy_dwh
DB_USER=italy
DB_PASSWORD=italy

AIRFLOW_CONN_ITALY_POSTGRES_CONNECTION=postgresql://italy:italy@postgres:5432/italy_dwh
AIRFLOW_CONN_ITALY_CLICKHOUSE_CONNECTION=http://italy:italy@clickhouse:8123/italy_mart
AIRFLOW_VAR_ITALY_DATA_DIR=/opt/airflow/data
AIRFLOW_VAR_ITALY_SQL_DIR=/opt/airflow/sql
AIRFLOW_VAR_ITALY_LANDING_DIR=/opt/airflow/data/landing
AIRFLOW_VAR_ITALY_INPUT_XLSX=/opt/airflow/data/input/Тестовое задание data инженер italy.xlsx
